/* ┌─────────────────────────────────────────┐
   │ news                        │
   └─────────────────────────────────────────┘ */

/* newsエリア */
.news_area {
  padding: 0 var(--side-width);
  margin-bottom: 0rem;
}

/* newsタイトル */
.news_title {
  font-size: 3rem;
  text-align: center;
}

.news_item {
  border-bottom: 0.1rem solid gray;

  width: 80rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5rem;

  padding: 2rem 2rem 2rem 0;
  margin: 0 auto;
}

.news_item:first-child {
  border-top: 0.1rem solid grey;
}
